<!DOCTYPE html>
<html>
<head>
    <title>D1s Latex Helper</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>D1s Latex Math Helper🔥🔥🔥</h1>
        <p>We here at D1swipes inc. know how difficult it is to remember how to write maths in Latex, so we built a completely secure playground for you to test all the equations you want</p>
        <textarea id="latex" type="text">\int_0^2 e^x dx</textarea>
        <br>
        <button onclick="sendLatex()">Generate</button>
    </main>
    <div id="output" class="container" style="display: flex; justify-content: center; align-items: center; background-color: white;">
        <img id="latex-output" src="" alt="">
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>
